<!doctype html>
<html lang="en">
    <head>
        <title>Bug Showcase</title>
    </head>
    <body>
        <h1>Bug Showcase</h1>
        <p>This is not supposed to generate an error</p>
        <!-- [html-validate-disable-block attribute-allowed-values] -->
        <textarea rows="{{ valueFromSomewhereElse }}"></textarea>
    </body>
</html>
