{# <!-- [html-validate-disable attr-case: since nunjucks templating is not stripped it flags the attributes as wrong case] -->  #}
{# <!-- [html-validate-disable close-order: marked wraps the content in a <p> which breaks the layout, has a hack it is closed and reopened in this template so the final output is ok] -->  #}

</p>
<div class="inline-validation">
	<div class="markup"
		{%- for attrName, attrValue in doc.validate.attributes %}{{ attrName }}="{{ attrValue }}"{% endfor %}>
		<pre><code class="hljs lang-html">{{ doc.validate.markup | highlight('html') }}</code></pre>
	</div>

	{%- if doc.validate.showResults %}
	<div class="messages">
		<pre>
			{%- if not doc.validate.report.valid -%}
				{{- doc.validate.codeframe | escape -}}
			{%- else -%}
				0 errors found
			{%- endif -%}
		</pre>
	</div>
	{%- endif %}
</div>
<p>
