<i/>Before disable, should trigger

<!-- [html-validate-disable void] -->
<i/>After disable, should not trigger
<i/>After disable, should not trigger

<!-- [html-validate-enable void] -->
<i/>Before after, should trigger
