<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{#- <!-- [html-validate-disable-next long-title] --> #}
		<title>HTML-validate{% if doc.title or doc.name %} - {{ (doc.title or doc.name) | escape }}{% endif %}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/ico">
		<link rel="stylesheet" href="{{ '/assets/docs.min.css' | assetHash }}">
		{%- if tracking %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ tracking }}');
		</script>
		{% endif %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">HTML-validate</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User guide <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/usage">Gettings started</a></li>
									<li><a href="/usage/cli.html">Using CLI</a></li>
									<li><a href="/usage/elements.html">Elements</a></li>
									<li><a href="/usage/transformers.html">Transfomers</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/usage/grunt.html">Grunt</a></li>
									<li><a href="/usage/protractor.html">Protractor</a></li>
									<li><a href="/frameworks/vue.html">Vue.js</a></li>
								</ul>
							</li>
							<li><a href="/rules">Rules</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers guide <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{ pkg.repository.url }}">Getting the source code</a></li>
									<li><a href="{{ pkg.bugs.url }}">File issue</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/dev/using-api.html">Using API</a></li>
									<li><a href="/dev/writing-rules.html">Writing rules</a></li>
									<li><a href="/dev/writing-plugins.html">Writing plugins</a></li>
									<li><a href="/dev/transformers.html">Writing transformers</a></li>
									<li><a href="/dev/events.html">List of events</a></li>
								</ul>
							</li>
							<li><a href="/changelog">Changelog</a></li>
							<li><a href="/about">About</a></li>
						</ul>
						<p class="navbar-text navbar-right">{{ pkg.name }}-{{ pkg.version }}</p>
					</div>
				</div>
			</nav>
		</header>

		<main class="container">
			{%- block content %}
			{%- endblock %}
		</main>

		{%- if doc.fileInfo.projectRelativePath and doc.docType != 'error' %}
		<footer>
			<div class="container">
				<a href="https://gitlab.com/html-validate/html-validate/edit/master/{{ doc.fileInfo.projectRelativePath }}" class="btn btn-default"><i class="fa fa-pencil">&nbsp;</i>Edit this page</a>
				{%- block footer %}
				{%- endblock %}
			</div>
		</footer>
		{%- endif %}

		<script src="{{ '/assets/docs.js' | assetHash }}"></script>
	</body>
</html>
<!--
	Document ID: {{ doc.id }}
	Document type: {{ doc.docType }}
	Document name: {{ doc.name }}
	Document alias: {{ doc.aliases }}
-->
