<p contenteditable="foobar"></p>
<p dir=""></p>
<p dir="foobar"></p>
<p draggable=""></p>
<p draggable="foobar"></p>
<p hidden="foobar"></p>
<p tabindex=""></p>
<p tabindex="foobar"></p>
<p contextmenu="foobar"></p>
