<!-- must have src attribute -->
<img>

<!-- src must be non-empty -->
<img src="">

<!-- should not allow end tag -->
<img src="foo.png"></img>

<!-- should be interactive if usemap is set -->
<button type="button">
	<img src="foo.png" usemap>
</button>
