<!-- src attribute cannot be empty -->
<script src=""></script>

<!-- deprecated attribute -->
<script language="vbscript"></script>

<!-- must not omit end tag in any way, because the way the scripttag is tokenized both according to spec and this tool it must explicitly be ended with </>. Dragons ahead if not obeyed -->
<script/>
