<!-- script is allowed almost everywhere -->
<script></script>

<!-- script is allowed almost everywhere -->
<script src="script.js"></script>

<!-- integrity attribute -->
<script integrity="sha384-..."></script>
