<!-- should be allowed under <tr> -->
<table>
	<tbody>
		<tr>
			<td>foo</td>
		</tr>
	</tbody>
</table>

<!-- should allow flow content -->
<table>
	<tbody>
		<tr>
			<td>
				<div>foo</div>
			</td>
		</tr>
	</tbody>
</table>
